*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.circle-btn {
   position: relative;
   outline: none;
   background: none;
   border: none;
   cursor: pointer;
   transition: transform 0.4s ease;


   &:hover {
      transform: scale(1.2);

      & .filled {
         stroke-dashoffset: 0;
      }
   }

   &:active {
      transform: scale(1.5);
   }

   span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      will-change: transform;
   }

   svg {
      transform: rotate(-90deg);

      .bg-svg {
         stroke: #b8b8b834;
         stroke-width: 3;
      }

      .filled {
         stroke: #ececec;
         stroke-width: 3;
         stroke-dasharray: 1;
         stroke-dashoffset: 1;
         transition: stroke-dashoffset 0.4s ease-in-out
      }
   }
}

 